@import "tailwindcss";

@font-face {
    font-family: 'headerFont';
    src: url('./assets/Fonts/Ubuntu-Bold.ttf')
}

@font-face {
    font-family: 'button';
    src: url('./assets/Fonts/Ubuntu-Medium.ttf')
}

@font-face {
    font-family: 'regular';
    src: url('./assets/Fonts/Rubik-Regular.ttf')
}



@theme {
    --font-headerFont: 'headerFont';
    --font-button: 'button';
    --font-regular: 'regular';
    --color-textColor: #000000;
    --color-backgroundColor: #FFFFFF;
    --color-actionColor: #f8b4c4; 
}
